
footer {
    height: 60px;
    background-color: lightseagreen;
    text-align: center;
    color: #fff;
}

.copyright {
    padding-top: 20px;
}


.pagination {
    padding: 15px;
    float: right;
}

.search-form-wrapper {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}